<h2 mat-dialog-title>Ajout de groupe</h2>
<mat-dialog-content>
  <form [formGroup]="groupForm" (ngSubmit)="onSubmit()">

    <div class="field-container">
      <mat-form-field class="example-form-field">
        <mat-label>Nom du groupe</mat-label>
        <input matInput type="text" formControlName="name">
      </mat-form-field>
    </div>

    <div class="field-container" [formGroup]="groupForm.controls.contacts">
      <mat-checkbox color="primary" ngDefaultControl *ngFor="let contact of contactsIterator;"
                    formControlName="{{contact}}">{{contact}}</mat-checkbox>
    </div>
  </form>

  <div *ngIf="error !== ''" class="error">
    {{error}}
  </div>

</mat-dialog-content>
<mat-dialog-actions align="center">
  <button mat-raised-button color="warn" mat-dialog-close>Annuler</button>
  <button mat-raised-button color="primary" (click)="onSubmit()">Modifier</button>
</mat-dialog-actions>
