/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';

.error-snackbar {
  background-color: #ff2a2a;
  color: white;
  text-align: center;
}

.success-snackbar {
  background-color: #333bff;
  color: white;
  text-align: center;
}

body {
  font-family: "Barlow Condensed";
}
