<div class="header">
  <h1>Liste des groupes</h1>
  <button mat-raised-button color="primary" (click)="addGroup()">Créer un groupe</button>
</div>

<table *ngIf="groups.length > 0" mat-table [dataSource]="dataSource" class="mat-elevation-z8">
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef> Nom du groupe</th>
    <td mat-cell *matCellDef="let element"> {{element.name}} </td>
  </ng-container>

  <ng-container matColumnDef="contacts">
    <th mat-header-cell *matHeaderCellDef> Contacts du groupe</th>
    <td mat-cell *matCellDef="let element">
    <ul>
      <li *ngFor="let contact of element.metadatas?.contacts">
        {{contact.firstName}} {{contact.lastName}}
      </li>
    </ul>
    </td>
  </ng-container>

  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef> Actions</th>
    <td mat-cell *matCellDef="let element">
      <i class="fas fa-trash" (click)="deleteGroup(element.id)"></i>
      <i class="fas fa-edit" (click)="editGroup(element.id)"></i>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

<div class="no-data" *ngIf="groups.length === 0">
  Aucun groupe.
</div>
