form {
  text-align: center;
}
mat-checkbox {
  display: block;
  text-align: left;
}
h2 {
  text-align: center;
}
.error {
  background-color: #ff463d;
  color: white;
  text-align: center;
  max-width: 100%;
}

