body {
    padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    background-size: cover;
    background: url("../img/blank-agenda-on-wood-background.jpg") no-repeat;
}

a {
    color: #00B7FF;
}
