<h2 mat-dialog-title>Édition de contact</h2>
<mat-dialog-content>
  <form [formGroup]="_contactForm" (ngSubmit)="onSubmit()">

    <div class="field-container">
      <mat-form-field class="example-form-field">
        <mat-label>Prénom</mat-label>
        <input matInput type="text" formControlName="firstName">
      </mat-form-field>
    </div>


    <div class="field-container">
      <mat-form-field class="example-form-field">
        <mat-label>Nom</mat-label>
        <input matInput type="text" formControlName="lastName">
      </mat-form-field>
    </div>

    <div class="field-container">
      <mat-form-field class="example-form-field">
        <mat-label>Email</mat-label>
        <input matInput type="email" formControlName="email">
      </mat-form-field>
    </div>

    <div class="field-container">
      <mat-form-field class="example-form-field">
        <mat-label>Téléphone</mat-label>
        <input matInput type="tel" formControlName="phoneNumber">
      </mat-form-field>
    </div>
  </form>

  <div class="error" *ngIf="error !== ''">
    {{this.error}}
  </div>
</mat-dialog-content>
<mat-dialog-actions align="center">
  <button mat-raised-button color="warn" mat-dialog-close>Annuler</button>
  <button mat-raised-button color="primary" (click)="onSubmit()">Modifier</button>
</mat-dialog-actions>

