<h2 mat-dialog-title>Supprimer cet élément?</h2>
<mat-dialog-content>Êtes-vous sûr de vouloir supprimer cet élément?</mat-dialog-content>
<mat-dialog-actions>
  <button mat-raised-button color="primary" mat-dialog-close>Annuler</button>
  <button mat-raised-button color="warn" [mat-dialog-close]="true">Supprimer</button>
</mat-dialog-actions>
